:root {
   /* Preset Colors */
   --clr-primary-300: #444;
   --clr-primary-400: #3d3d3d;
   --clr-primary-500: #222;
   --clr-neutral-100: #fff;

   /* Preset Fonts */
   --ff-primary: "Open-sans", sans-serif;
   /* --ff-primary: "Roboto", sans-serif; */
   --ff-logo: "Lobster", cursive;
}

/* Basic Reset */
*,
*::before,
*::after {
   box-sizing: border-box;
}

* {
   margin: 0;
   padding: 0;
}

html {
   font-size: 62.5%;
   color: var(--clr-primary-500);
   font-family: var(--ff-primary);
   font-weight: 400;
   font-size: 1.5rem;
   line-height: 1.5;

   /* overflow-x: hidden; */
}

body {
   background-color: #fff;
}

a:link,
a:hover,
a:visited,
a:active {
   color: inherit;
   text-decoration: none;
}

ul {
   list-style: none;
}

/* UTILITY */
.center {
   margin-left: auto;
   margin-right: auto;
}

.flex-column {
   display: flex;
   flex-direction: column;
}

.grid--one-col {
   display: grid;
   grid-template-columns: 1fr;
}

.bold {
   font-weight: 700;
}

/* ----Elements---- */

/* Header */

.page-header {
   text-align: center;
}

.logo {
   font-family: var(--ff-logo);
}

.nav {
   display: flex;
   justify-content: space-around;
}

.nav-links {
   display: flex;
   justify-content: space-around;
}

.nav-link {
   display: inline-block;
   padding: 0.5em;
   font-size: 0.8rem;
}

.settings {
   display: flex;
   justify-content: space-around;
   align-items: center;
}

.nav-btn-open,
.nav-btn-close {
   display: none;
}

.hero-img {
   display: block;
   max-width: 100%;
}

/* Main */
.main-content {
   /* background-color: aquamarine; */
   max-width: 90%;
   /* padding: 1em; */
}

.section-title {
   font-size: 1.5rem;
   letter-spacing: 0.2em;
   text-transform: uppercase;
   margin-bottom: 3rem;
}

/* BLOG STYLES */
.blog-container {
   display: flex;
   flex-direction: column;
}
